.banner-div-home{
    height: 320px;
    width: 100%;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(93, 65, 203, 0.348));
    border-bottom-left-radius:25px ;
    border-bottom-right-radius:25px ;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 25%;
}
.orderfood-linebend{
    display: flex;
    flex-direction: column;
    margin-left: 170px;
    margin-top: 40px;
}
.next-arrow-div{
    background-color: rgba(81, 81, 81, 0.2);
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-right-divs{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
    cursor: pointer;
}
.whats-main-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 220px;
    margin-right: 190px;
    margin-top: 10px;
}
.horz-main-div {
    display: flex;
    flex-direction: row;
    overflow-x: hidden; /* Hide the default scrollbar */
    white-space: nowrap;
    margin-left: 190px;
    margin-right: 190px;
    transition: transform 0.3s ease-in-out; /* Add smooth transition effect */
  }
  
  .horz-items {
    width: 150px;
    height: 180px;
    margin-right: 20px;
    flex-shrink: 0;
  }
  .horz-item-img{
    width: 145px;
    height: 176px;
  }
  .next-arrow-div {
    padding: 10px;
    width: 16px;
    height:16px;
    background-color: #f0f0f0;
    border-radius: 50%;
  }
.horz-food-img{
  width: 310px;
  height: 200px; 
  object-fit:cover;
  border-radius: 15px;
  transition: 0.1s;
}
.horz-food-items {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 320px;
  margin-right: 0px;
  margin-right: 40px;
}
.horz-food-img:hover{
  transform: scale(0.94);
}
.horz-main-div.food{
  height: 400px;
  font-family:'Montserrat', sans-serif;
}
.hot-name-rev h4,.hot-name-rev p{
margin:0;padding: 2px;
}
.hot-name-rev p{
  color: rgba(89, 85, 85, 0.779);
  font-size: 15px;
  font-weight: 425;
}
.hot-name-rev{
  margin-top: 10px;
}